<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProspectDataReduction.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MOISDBConnect" value="MOISTest" />
    <add key="MOISDB" value="MOIS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config">
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <ProspectDataReduction.My.MySettings>
      <setting name="DataSourceDev" serializeAs="String">
        <value>TSITE4</value>
      </setting>
      <setting name="DataSourceProd" serializeAs="String">
        <value>TSITE4</value>
      </setting>
      <setting name="DataSourceDefault" serializeAs="String">
        <value>TSITE4</value>
      </setting>
      <setting name="ReportPath" serializeAs="String">
        <value>\\PhosphateOps.mosaicco.com\Reports\Mining\ReducedProspect\ProspectReduction.rpt</value>
      </setting>
      <setting name="ProspectDataReduction_SecurityWeb_SecurityService"
        serializeAs="String">
        <value>http://phosphateopsdev.mosaicco.com/util/Security/security.asmx</value>
      </setting>
      <setting name="ProspectDataReduction_CommonMiningWeb_CommonMining"
        serializeAs="String">
        <value>http://phosphateopsdev.mosaicco.com/Mining/Common/CommonMining.asmx</value>
      </setting>
      <setting name="ProspectDataReduction_ValueListWeb_ValueListService"
        serializeAs="String">
        <value>http://phosphateopsdev.mosaicco.com/production/tracking/valuelist.asmx</value>
      </setting>
    </ProspectDataReduction.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" receiveTimeout="01:30:00" sendTimeout="01:30:00"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" />
          <reliableSession inactivityTimeout="01:30:00" enabled="true" />
        </binding>
        <binding name="NetTcpBinding_IReduction">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RawServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://mo1u1appdas23.mna.corp.mosaicco.com/Mining/Raw_WCF_Test/Raw.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding"
        contract="RawService.IRaw" name="NetTcpBinding_IRaw">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://mo1u1appdas23.mna.corp.mosaicco.com/Mining/Raw_WCF_Test/Reduction.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding"
        contract="ReductionService.IReduction" name="NetTcpBinding_IReduction">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>