<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="MOIS" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = mo1u1orapdb06.mosaicco.com)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = PSITE)));User Id=mois;Password=legs2;" />
</connectionStrings>